In [ ]:
import pandas as pd
df1 = pd.DataFrame({
    'Name': ['Tutte', 'Tutte Druid', 'Tuttelito', 'Adversario'],
    'Online': [True, False, False, True],
    'Unix': ['1654034400', '1654034400', '1654034400', '1654034400']
})
df2 = pd.DataFrame({
    'Name': ['Tutte', 'Tutte Druid', 'Tuttelito', 'Adversario'],
    'Online': [False, True, False, True],
    'Unix': ['1654034460', '1654034460', '1654034460', '1654034460']
})
df3 = pd.DataFrame({
    'Name': ['Tutte', 'Tutte Druid', 'Tuttelito', 'Adversario'],
    'Online': [False, False, True, True],
    'Unix': ['1654034520', '1654034520', '1654034520', '1654034520']
})
df4 = pd.DataFrame({
    'Name': ['Tutte', 'Tutte Druid', 'Tuttelito', 'Adversario'],
    'Online': [False, False, False, True],
    'Unix': ['1654034580', '1654034580', '1654034580', '1654034580']
})
df = pd.concat([df1, df2, df3, df4], ignore_index=True)
new_df= df.assign(Timespan=df.groupby('Name').Unix.shift(-1))
new_df = new_df.dropna()
new_df['Timespan'] = new_df['Timespan'].astype(int)
new_df['Unix'] = new_df['Unix'].astype(int)
new_df['Duration'] = new_df['Timespan'] - new_df['Unix']
new_df
datetime_df = new_df
datetime_df['Unix'] =  pd.to_datetime(datetime_df['Unix'], unit='s')
datetime_df['Timespan'] =  pd.to_datetime(datetime_df['Timespan'], unit='s')
temp = {True:'blue', False:'red'}
datetime_df['Color'] = datetime_df['Online'].map(temp)
mock_datetime_df = datetime_df
fig = px.timeline(mock_datetime_df, x_start='Unix', x_end='Timespan', y='Name', color="Color")
fig.show()

In [2]:
import pandas as pd
import plotly.express as px

data = pd.read_csv('character.csv',names=['Name', 'Level','Vocation','Online','Time','Timespan','Duration','Color','Batch'])
df = pd.DataFrame(data)

df.groupby('Batch')

df
# df['Timespan'] = df.groupby('Name')['Time'].shift(-1)
# df = df.dropna()
# df['Time'] =  pd.to_datetime(df['Time'], unit='s')

# df['Timespan'] =  pd.to_datetime(df['Timespan'], unit='s')

# fig = px.timeline(df,x_start='Time', x_end='Timespan', y='Name')
# fig.show()

,Name,Level,Vocation,Online,Time,Timespan,Duration,Color,Batch
0,Alt Hoi,19,Knight,True,1654949503,0,0,0,0
1,Bard,20,Elder Druid,True,1654949503,0,0,0,0
2,Blauwe Tovenaar,9,Druid,True,1654949503,0,0,0,0
3,Boa The Stryporm,67,Royal Paladin,True,1654949503,0,0,0,0
4,Brother,20,Druid,True,1654949503,0,0,0,0
...,...,...,...,...,...,...,...,...,...
963353,Viktor,35,Royal Paladin,True,1655046002,0,0,0,9504
963354,Vital Bonanza,20,Elder Druid,True,1655046002,0,0,0,9504
963355,Vulpes,51,Elite Knight,True,1655046002,0,0,0,9504
963356,Xidel,32,Elite Knight,True,1655046002,0,0,0,9504
963357,Ymir,16,Sorcerer,True,1655046002,0,0,0,9504

,Name,Level,Vocation,Online,Time,Timespan,Duration,Color,Batch,hours_since_new_sensor
0,Bard,20,Elder Druid,True,1654949503,0,0,0,0,0
1,Blauwe Tovenaar,9,Druid,True,1654949503,0,0,0,0,0
2,Boa The Stryporm,67,Royal Paladin,True,1654949503,0,0,0,0,0
3,Brother,20,Druid,True,1654949503,0,0,0,0,0
4,Clarence,23,Elite Knight,True,1654949503,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
963352,Viktor,35,Royal Paladin,True,1655046002,0,0,0,9504,26911
963353,Vital Bonanza,20,Elder Druid,True,1655046002,0,0,0,9504,26911
963354,Vulpes,51,Elite Knight,True,1655046002,0,0,0,9504,26911
963355,Xidel,32,Elite Knight,True,1655046002,0,0,0,9504,26911
963356,Ymir,16,Sorcerer,True,1655046002,0,0,0,9504,26911

In [1]:
data = pd.read_csv('test.csv',names=['Name', 'Age','Gender','Online','Time','Timespan','Duration','Color','Batch'])
df = pd.DataFrame(data)

df

NameError: name 'pd' is not defined